
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <title>Beauty Shop</title>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

</head>
<body>

    @{if (Session["Name"] == null)
    {

        <button onclick="location.href='@Url.Content("~/Customer/Register")'" type="button" class="btn btn-default navbar-btn">Register</button>
        <button  onclick="location.href='@Url.Content("~/Login/index")'" type="button" class="btn btn-default navbar-btn">Log in</button>

            
        }
    else
    {
            <p> <H1>Hello @Session["Name"].ToString().ToUpper() </H1></p>
        <button onclick="location.href='@Url.Content("~/Login/Logout")'"type="button" class="btn btn-default navbar-btn">Log out</button>
    }
    }
    <nav class="navbar navbar-inverse">

        <a href=@Url.Content("~/")>Main</a>
        <a href=@Url.Content("~/")>Additional Service</a>
        <a href=@Url.Content("~/")>Contacts</a>


        @if ( Session["Manager"]!=null)
        {

            if (Session["Manager"].ToString() == "True")
            {
                <a href=@Url.Content("~/Manager/Manager_Page")>Manager's Page</a>
            }
            else
            {
                <a href=@Url.Content("~/Customer/MyPage")>My Page</a>
            }
        }


    </nav>
    



    @RenderBody()

</body>


@*<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>*@


</html>
